* {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 14px;
}

body {
    height: 100%;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background: #f1f1f1;
}

a {
    text-decoration: none;
    color: inherit;
}

.btn {
    display: inline-block;
    padding: 1rem 1.5rem calc(1rem + 2px);
    background: #0089ff;
    border: 0;
    color: #fff;
    border-radius: 6px;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
}

.link {
    color: #0089ff;
    text-decoration: underline;
}

.app {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.app__header {
    flex: 0 0 auto;
    border-bottom: 1px solid #aaa;
}

.app__view {
    flex: 1 1 auto;
}

.app__footer {
    flex: 0 0 auto;
}

.header {
    padding: 1rem;
    background: #fff;
}

.header__container {
    max-width: 1280px;
    margin: 0 auto;
}

.header__logo {
    display: block;
    width: 100px;
}

.view {
    max-width: 768px;
    margin: 4rem auto;
}

.view__headline {
    margin: 0 0 2rem;
    font-size: 20px;
}

/* .view__paragraph {
    line-height: 1.5;
    color: #666;
    margin: 0 0 2rem;
} */

.view__list {
    margin: 0 0 4rem;
}

.view__form {
    /* ... */
}

.form {
    display: flex;
    flex-wrap: wrap;
    /* margin-right: -2.5rem; */
    padding: 2rem 2.5rem;
    border: 1px solid #aaa;
    background: #fff;
}

.form__set { 
    flex: 0 0 auto;
    margin: 0 2.5rem 2rem 0;
    padding: 0;
    border: 0;
}

.form__label {
    display: block;
    margin-bottom: 1rem;
    color: #666666;
}

.form__checkboxes {
    display: flex;
    margin-right: -2rem;
    margin-bottom: -2rem;
}

.form__checkbox {
    margin-right: 2rem;
    margin-bottom: 2rem;
}

.form__submit {
    flex: 0 0 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
}

.checkbox {
    display: flex;
    align-items: center;
}

.checkbox__input {
    margin: 0 0.5rem 0 0;
}

.checkbox__label {
    font-size: 12px;
}

.footer {
    padding: 1rem;
    text-align: center;
    color: #666;
}

.list__loader {
    display: flex;
    justify-content: center;
    padding: 4rem 0;
}

.list-table {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
}

.list-table__th {
    padding: 1rem;
    border: 1px solid #aaa;
    /* background: #fff; */
}

.list-table__td {
    padding: 0.5rem;
    border: 1px solid #aaa;
    /* background: #fff; */
}

.subjects-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -0.5rem;
}

.subjects-list__badge {
    flex: 0 0 auto;
    padding: 6px 8px;
    background: #0089ff;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    border-radius: 6px;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
}

.loader {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.loader__chunk {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #ccc transparent transparent transparent;
}

.loader__chunk:nth-child(1) {
    animation-delay: -0.45s;
}

.loader__chunk:nth-child(2) {
    animation-delay: -0.3s;
}

.loader__chunk:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes loader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}